/* Override bootstrap default colours (PC) */
$theme-colors: (
  "primary": #36587D,
  "success": #56A7D0
);

$primary: #36587D;

/* Import bootstrap css (PC) */
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Default font (PC) */
* {
	font-family: Inter;
}

/* Smooth scrolling on anchor links (PC) */
html {
	scroll-behavior: smooth;
}

/* Black background (PC) */
body {
	background-color: black;
}

/* Navbar transition stuff (PC) */
nav {
	transition: background-color 0.3s;
}
nav.fixed-top {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(0,0,0,0.7);
}
.light-text .nav-link {
	color: #DDD;
}

/* Set up background image on first pane (PC) */
#pane1 {
	background-image: url("../images/bg-home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Observatory thumbnails for pane 1 (PC) */
.obsThumb {
	display: inline-block;
	width: 180px;
	margin: 8px 0;
	img {
		width: 48px;
		border: 2px solid $primary;
		border-radius: 50%;
		float: left;
		margin-right: 9px;
	}
	h1, h2 {
		font-size: 14px;
		line-height: 0.8;
	}
	h1 {
		margin: 8px;
		color: white;
	}
	h2 {
		color: $primary;
	}
	&:hover {
		img {
			border: 2px solid white;
		}
	}
}

#pane2 {
	background-color: white;
	min-height: 100vh;
}


.transparent-bg {
	background: none;
}
