/* Default font (PC) */
* {
	font-family: Inter;
}

/* Smooth scrolling on anchor links (PC) */
html {
	scroll-behavior: smooth;
}

/* Black background (PC) */
body {
	background-color: black;
}

/* General colours (PC) */
.lightblue {
	color: #3E82CE;
}
.darkblue {
	color: #1F446D;
}
/* transparent bg class, initially for jumbotron (PC) */
.transparent-bg {
	background: none;
}

/* Override primary button bg colours (PC) */
.btn-primary {
	background-color: #1F446D;
	border: none;
}
.btn-primary:hover {
	background-color: #3E82CE;
	border: none;
}

/* -------- Nav Bar -------- */
	/* Navbar bg colour transition (PC) */
	nav {
		transition: background-color 0.3s;
	}
	/* Navbar bg colour and bg blur (PC) */
	nav.fixed-top {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		background-color: rgba(0,0,0,0.7);
	}
	/* Muted text colour on navbar links (PC) */
	.light-text .nav-link {
		color: #DDD;
		transition: color 0.2s;
	}
	/* Muted icon colour on navbar links (PC) */
	.light-text .nav-link img {
		opacity: 0.85;
		transition: opacity 0.2s;
	}
	/* Bright text colour on navbar links hovered (PC) */
	.light-text .nav-link:hover {
		color: #FFF;
	}
	/* Bright icon colour on navbar links hovered (PC) */
	.light-text .nav-link:hover img  {
		opacity: 1;
	}
	/* position stuff for the .navbar-collapse class (PC) */
	.navbar-collapse.collapsing,
	.navbar-collapse.show{
		position: absolute;
		top: 69px;
		left: 0;
		right: 0;
		padding: 8px;
		background-color: rgba(0,0,0,0.8);
	}
	/* center content of the navbar ul */
	.navbar-collapse ul {
		display: flex;
		justify-content: center;
	}

	/* background colour of navbar pills (PC) */
	a.nav-link.active {
		background-color: #1F446D !important;
	}
	/* align the cart icon and badge a bit better (PC) */
	#navCart {
		padding-top: 6px;
	}

/* Set up background image on first pane (PC) */
#pane1 {
	background-image: url("../images/bg-home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Observatory thumbnails for pane 1 (PC) */
	/* Basic positioning for thumb blocks (PC) */
	.obsThumb {
		display: inline-block;
		width: 180px;
		margin: 8px 0;
	}
	/* round and border the thumbs (PC) */
	.obsThumb img {
		width: 48px;
		border: 2px solid #3E82CE;
		border-radius: 50%;
		float: left;
		margin-right: 9px;
	}
	/* size down the heading tags (PC) */
	.obsThumb h1, h2 {
		font-size: 14px;
		line-height: 0.8;
	}
	/* give h1 a margin and style (PC) */
	.obsThumb h1 {
		margin: 8px 0;
		color: white;
	}
	/* give h2 a colour (PC) */
	.obsThumb h2 {
		color: #3E82CE;
	}
	/* make h2 not underline when .obsThumb is hovered over (PC) */
	.obsThumb:hover {
		text-decoration: none;
	}
	/* border effect for thumb image when .obsThumb is hovered over (PC) */
	.obsThumb:hover img {
		border: 2px solid white;
	}

#pane2 {
	background-color: white;
	min-height: 100vh;
}

.addToCart {
	background-color: #FCFCFC;
	border-radius: 16px;
	border: 1px solid #EEE;
}

iframe {
	border-radius: 16px;
}

@media (max-width: 991px) {
    .obsMapOrder iframe {
        display: none;
	}
}
