/* Default font (PC) */
* {
	font-family: Inter;
}

/* Smooth scrolling on anchor links (PC) */
html {
	scroll-behavior: smooth;
}

/* Black background (PC) */
body {
	background-color: black;
}

/* General colours (PC) */
.lightblue {
	color: #3E82CE;
}
.darkblue {
	color: #1F446D;
}
/* transparent bg class, initially for jumbotron (PC) */
.transparent-bg {
	background: none;
}

/* Override primary button bg colours (PC) */
.btn-primary {
	background-color: #1F446D;
	border: none;
}
.btn-primary:hover {
	background-color: #3E82CE;
	border: none;
}

/* -------- Nav Bar -------- */
	/* Navbar bg colour transition (PC) */
	nav {
		transition: background-color 0.3s;
	}
	/* Navbar bg colour and bg blur (PC) */
	nav.fixed-top {
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		background-color: rgba(0,0,0,0.7);
	}
	/* Muted text colour on navbar links (PC) */
	.light-text .nav-link {
		color: #DDD;
		transition: color 0.2s;
	}
	/* Muted icon colour on navbar links (PC) */
	.light-text .nav-link img {
		opacity: 0.85;
		transition: opacity 0.2s;
	}
	/* Bright text colour on navbar links hovered (PC) */
	.light-text .nav-link:hover {
		color: #FFF;
	}
	/* Bright icon colour on navbar links hovered (PC) */
	.light-text .nav-link:hover img  {
		opacity: 1;
	}
	/* position stuff for the .navbar-collapse class (PC) */
	.navbar-collapse.collapsing,
	.navbar-collapse.show{
		position: absolute;
		top: 69px;
		left: 0;
		right: 0;
		padding: 8px;
		background-color: rgba(0,0,0,0.8);
	}
	/* center content of the navbar ul */
	.navbar-collapse ul {
		display: flex;
		justify-content: center;
	}

	/* background colour of navbar pills (PC) */
	a.nav-link.active {
		background-color: #1F446D !important;
	}
	/* align the cart icon and badge a bit better (PC) */
	#navCart {
		padding-top: 6px;
	}

/* Set up background image on first pane (PC) */
#pane1 {
	background-image: url("../images/bg-home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

/* Observatory thumbnails for pane 1 (PC) */
	/* Basic positioning for thumb blocks (PC) */
	.obsThumb {
		display: inline-block;
		width: 180px;
		margin: 8px 0;
	}
	/* round and border the thumbs (PC) */
	.obsThumb img {
		width: 48px;
		border: 2px solid #3E82CE;
		border-radius: 50%;
		float: left;
		margin-right: 9px;
	}
	/* size down the heading tags (PC) */
	.obsThumb h1, h2 {
		font-size: 14px;
		line-height: 0.8;
	}
	/* give h1 a margin and style (PC) */
	.obsThumb h1 {
		margin: 8px 0;
		color: white;
	}
	/* give h2 a colour (PC) */
	.obsThumb h2 {
		color: #3E82CE;
	}
	/* make h2 not underline when .obsThumb is hovered over (PC) */
	.obsThumb:hover {
		text-decoration: none;
	}
	/* border effect for thumb image when .obsThumb is hovered over (PC) */
	.obsThumb:hover img {
		border: 2px solid white;
	}

#pane2 {
	background-color: white;
	min-height: 100vh;
}

.addToCart {
	background-color: #FCFCFC;
	border-radius: 16px;
	border: 1px solid #EEE;
}

iframe {
	border-radius: 16px;
}

@media (max-width: 991px) {
    .obsMapOrder iframe {
        display: none;
	}
}

#invalidPassword, #invalidUsername, #navAccount {
	display: none;
}



/* NMD Login button template: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_login_form_modal */

/* Full-width input fields */
.loginstuff input[type=text], .loginstuff input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.loginstuff button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginstuff button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.loginstuff .cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.loginstuff .imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.loginstuff img.avatar {
  width: 40%;
  border-radius: 50%;
}

.loginstuff .container {
  padding: 16px;
}

.loginstuff span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.loginstuffmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.loginstuff .modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.loginstuff .close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.loginstuff .close:hover,
.loginstuff .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.loginstuff .animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .loginstuff span.psw {
     display: block;
     float: none;
  }
  .loginstuff .cancelbtn {
     width: 100%;
  }
}

#aboutus1, #aboutus2 {
	background-color: white;
}
